@import ./params

#mobileNav
    display: none
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: $red
    z-index: 1000
    #closeBurger
        display: block
        text-align: right
        padding: 30px
        color: white
    nav
        display: flex
        flex-direction: column
        a
            text-transform: uppercase
            text-decoration: none
            display: block
            padding: 20px
            font: normal normal normal 25px/24px Montserrat
            color: #FFFFFF

@media screen and (max-width: #{$site-width})
    #mobileNav.visible
        display: block
    .mobile
        display: inherit
    body
        // layout
        & > header
            background: none
            flex-direction: column
            & > div
                display: flex
                justify-content: space-between
                & > a#logo > img
                    height: 90px
                    width: auto
                & > a#burger
                    padding: 20px
            & > nav
                overflow: hidden
                height: 122px
                img
                    height: auto
                    width: 100%

        & > nav
            display: none
        & > footer
            text-align: center
            #footer1 > div.container
                $font: normal normal 300 20px/19px Montserrat
                padding: 0 10px
                flex-direction: column
                & > div:nth-child(1)
                    display: none
                div
                    width: 100%
                    font: #{$font}
                & > #follow_box
                    p
                        font: #{$font}
                    & > img
                        display: none
                    #follow_buttons
                        margin: 20px 0
                        justify-content: space-around
                        a
                            background-size: cover
                            width: 80px
                            height: 80px
                & > #newsletter_box
                    label
                        font: #{$font}
                    & > div
                        input
                            flex: 1 1 auto
            #footer2
                padding: 0
                & > .container
                    & > p
                        flex: 1 1 auto
                        padding: 10px
                        text-align: center
                        font: normal normal normal 15px/14px Montserrat
                    & > a
                        display: none


        // index
        #slider
            height: auto
            & > article
                background-image: none !important
                padding: 10px
                & > *
                    margin-left: 0
                    max-width: 100%


        #follow_us
            & > div
                display: flex
                flex-direction: column
                & > #fb
                    width: 100%

