---
tags: ages
pagination:
    data: ages
    size: 1
    alias: age
    addAllPagesToCollections: true
eleventyComputed:
    age: "{{age.age}}"
    color: "{{age.color}}"
    class: "{{age.class}}"
permalink: "ages/{{age.age}}.html"
---

<div id="ages_page">

    <div id="landing_age" class="landing_container">
        <h1>Max le Youtubeur publico vigore, discessit</h1>
        <p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat</p>
        <button>découvrir</button>
    </div>

    <div id="age">
        <img src='/assets/img/ages/empreinte-chat.svg'>
        <h3>{{age}} <span class="{{age}}">ans</span></h3>
        <p>{{color}}</p>
    </div>

    <section id="ages_catalogue" class="catalogue">

        <div id="selectors_container" class="{{age}}">

            <p>Affiner ma sélection</p>

            <div id="selectors">

                <div class="selector_pair">
                    <p>Genres</p>
                    <select name="genre" id="genre-select"></select>
                </div>
                <div class="selector_pair">
                    <p>Thèmes</p>
                    <select name="themes" id="themes-select"></select>
                </div>
                <div class="selector_pair">
                    <p>Auteurs / illustrateurs</p>
                    <select name="author" id="author-select"></select>
                </div>
                <div class="selector_pair">
                    <p>Séries</p>
                    <select name="collection" id="collection-select"></select>
                </div>
            </div>
        </div>

        <h5>Ma sélection</h5>

        <div id="filter_results" class="books_container">
        </div>

    </section>

</div>

{% include "nouveautes.njk" %}

<script src="/assets/js/search_base.js"></script>
<script src="/assets/js/age.js"></script>
