---
tags: authors
pagination:
    data: global.authors
    size: 1
    alias: author
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{author.name}}"
permalink: "authors/{{author.slug}}.html"
---

<div class="container">
    <section id="author_page" data-author="{{name}}">
        <div>
            {%- if author.image %}
                {% remoteImage  author.image, author.name, {widths: [312]} %}
            {%- endif %}
        </div>
        <div>
            <h1>{{author.name}}</h1>
            <p>{{author.occupation}}</p>
        </div>
    </section>

     <p id="author_presentation">{{author.presentation}}</p>


     <div id="author_books" class="books_container">
         <h3>SES OUVRAGES</h3>
         {% set books = global.books|selectBooks('author', author.id) %}
         {% if books.length == 0 %}
            Pas encore de livre
         {% endif %}
         <ol>
             {%- for book in books %}
             <li>
                 <a href="/books/{{ book.slug }}.html">
                     <div>
                         {% remoteImage book.image, book.name, {widths: [150]} %}
                     </div>
                     <p class="book_title">{{ book.name }}</p>
                </a>
             </li>
             {%- endfor %}
         </ol>

     </div>
</div>
