---
tags: ages
pagination:
    data: authors
    size: 1
    alias: author
    addAllPagesToCollections: true
eleventyComputed:
    name: "{{author.name}}"
permalink: "authors/{{author.slug}}.html"
---

<section id="author_page"> 
    <p>{{name}}</p>
</section>