
<div id="jumbotron">

</div>

<h3>NOS TITRES PHARES</h3>

<!--<nav>-->
<!--    <a href="/">Accueil</a>-->
<!--    <a href="{{ collections.concept[0].data.page.url }}">Concept</a>-->
<!--    <a href="">Catalogue</a>-->
<!--    <a href="/">Série</a>-->
<!--    <a href="/">Auteurs</a>-->
<!--    <a href="/">Ateliers</a>-->
<!--    <a href="{{ collections.contact[0].data.page.url }}">Contact</a>-->
<!--</nav>-->

<ol>
    {%- for book in collections.books %}
    <li><a href="{{ book.data.page.url }}">{{ book.data.title }}</a></li>
    {%- endfor %}
</ol>

<h3>NOUVEAUTES</h3>

<ol>
    {%- for book in global.newBooks %}
    <li><a href = "books/{{ book.slug }}.html"> {{ book.title }}</a></li>
    {%- endfor %}
</ol>
