---
tags: serie
pagination:
    data: series
    size: 1
    alias: serie
    addAllPagesToCollections: true
eleventyComputed:
    name: "{{serie.name}}"
    image: "{{serie.image}}"
    resume: "{{serie.resume | safe}}"
    description: serie.description
permalink: "series/{{serie.slug}}.html"
---

<div class="container">

    <div id="serie_presentation">
        <div>
            <h1>Série</h1>
            {%- if image %}
                {% remoteImage image, "plop", {widths: [312]} %}
            {%- endif %}
        </div>

        <div>
            <h1>{{name}}</h1>
            <div>
                <div id="serie_descr_key">
                    {% for item in serie.description %}
                        <p>{{ item[0] }} :</p>
                    {% endfor %}
                </div>
                <div id="serie_descr_value">
                    {% for item in serie.description %}
                        <p>{{ item[1] }}</p>
                    {% endfor %}
                </div>
            </div>  
        </div>
    </div>

    <div id="serie_presentation_bottom">
        <p>{{resume}}</p>
    </div>

    <div id="serie_comm">
        <h3>Le savais-tu ? Ton héros a déjà inspiré de nombreux "fan art" (dessins de fans).</h3>
        <p>Si tu aimerais rejoindre son fan club et nous envoyer tes dessins et/ou tes impressions de la série, tu peux le faire ici. Nous les partagerons peut-être sur nos réseaux sociaux !</p>
        <p>fanclub@chattycat.fr</p>
    </div>

    <h3>LES TITRES DE LA SÉRIE</h3>

    <div id="series_books" class="books_container" data-serie="{{name}}"></div>

</div>


<script src="/assets/js/search_base.js"></script>
<script src="/assets/js/serie.js"></script>