---
tags: serie
pagination:
    data: series
    size: 1
    alias: serie
    addAllPagesToCollections: true
eleventyComputed:
    name: "{{serie.name}}"
    image: "{{serie.image}}"
    resume: "{{serie.resume}}"
    description: serie.description
permalink: "series/{{serie.slug}}.html"
---

<div class="container">

    <div id="serie_presentation">
        <div>
            <h1>Série</h1>
            {%- if image %}
                {% remoteImage image, "plop", {widths: [312]} %}
            {%- endif %}
        </div>

        <div>
            <h1>{{name}}</h1>
            <div>
                <div id="serie_descr_key">
                    {% for item in serie.description %}
                        <p>{{ item[0] }} :</p>
                    {% endfor %}
                </div>
                <div id="serie_descr_value">
                    {% for item in serie.description %}
                        <p>{{ item[1] }}</p>
                    {% endfor %}
                </div>
            </div>  
        </div>
    </div>

    <div id="serie_presentation_bottom">
        <p></p>
    </div>
</div>


