@import "reset"
@import "params"
@import "utilities"

body
    font-family: 'Montserrat', sans-serif
    color: $black
    // global page header
    > header
        display: flex
        justify-content: space-between
        background: transparent url("/assets/img/home/empreinte-patte-chat-chien-chiot-animal-trace_177006-37.png") 0% 0% no-repeat padding-box
        background-position: left 70px top -230px
        opacity: 0.7

        // navigation by age
        nav
            height: 130px
            display: flex
            a
                z-index: 100
                display:
                transform: translateY(-50px)
                transition: transform 230ms ease-in-out
                &:hover, &.active
                    transform: none
        > img
            position: absolute
            margin-top: -230px
            margin-left: 70px
            width: 461px
            height: 358px
            opacity: 0.7

    // global page navigation
    > nav
        border-bottom: 3px solid $black
        display: flex
        padding-bottom: 10px
        a
            padding: 10px 40px
            color: inherit
            font-size: 16px
            font-weight: 500 // Medium
            text-decoration: none
            text-transform: uppercase
            &:not(:first-of-type)
                border-left: 2px solid $grey
        label
            flex: 1
            img[alt=search]
                margin-left: 50px
            input
                flex: 1
                padding: 0 25px
                border: 0
                font-size: 14px



#jumbotron
    border-bottom: 3px solid $black
    height: 450px
    background: url("/assets/img/home/news-cleo.png") no-repeat center center


