---
tags: ateliers
title: Ateliers
permalink: "ateliers.html"
mainClass: atelier
active_page: atelier
---

<div class="container">
    <header>
        <h1>Ateliers "Je crée mon histoire en anglais"</h1>
        <p>
            Les ateliers Chattycat proposent une approche ludique et créative de l'anglais.
        </p>
        <p>
            Pour qui ? Ecoles, bibliothèques, centres de loisir, librairies...
        </p>
    </header>

    <section>
        <h2>EN MATERNELLE</h2>
        <p>
            Tout en écoutant des histoires et en faisant des activités manuelles, les enfants apprennent des mots et des
            phrases simples en anglais. En groupe, avec l'aide de l'intervenante, ils imaginent et illustrent une
            histoire en anglais.
        </p>

        <h4>Activités</h4>
        <ul>
            <li><strong>Story Time :</strong>lecture d'histoires anglaises classiques ainsi que d'albums publiés par les
                éditions Chattycat.
            </li>
            <li><strong>Arts and Crafts :</strong> Activités manuelles en lien avec le vocabulaire appris.</li>
            <li><strong>Sing and Play ! :</strong> Chansons anglaises et jeux pour apprendre en s'amusant !</li>
        </ul>
    </section>

    <section>
        <h2>EN PRIMAIRE</h2>
        <p>
            Les enfants apprennent du vocabulaire anglais en lisant des histoires et réalisent une bande dessinée en
            anglais.
        </p>

        <h4>Compétences acquises</h4>

        <ul>
            <li><strong>Apprendre et réviser</strong> les bases de l’anglais en lisant et en faisant des activités
                manuelles.
            </li>
            <li><strong>Découvrir</strong> la structure d’une histoire (exposition, conflit, résolution…).</li>
            <li><strong>Écrire et illustrer</strong> Une bande dessinée en anglais.</li>
        </ul>
    </section>

    <section>
        <h2>AU COLLÈGE</h2>
        <p>
            Les élèves enrichissent leur vocabulaire anglais et écrivent et illustrent un récit court bilingue ou en
            anglais (selon leur niveau). </p>

        <h4>Compétences acquises</h4>

        <ul>
            <li><strong>Enrichir</strong> son vocabulaire anglais en lisant et en réalisant des projets créatifs.</li>
            <li><strong>Découvrir</strong> la structure d’un roman.</li>
            <li><strong>Écrire</strong> un récit court.</li>
        </ul>
    </section>

</div>

<section id="example">
    <div class="container">
        <article>
            <p>
                Dans les écoles, nos ateliers sont généralement donnés sur l’année en temps périscolaire, mais peuvent
                être
                adaptés selon vos besoins.
            </p>
            <p>
                Pour les ateliers donnés sur l’année, chaque enfant reçoit, à la fin de l’année, un
                beau livre imprimé contenant son histoire.
            </p>
        </article>
        <figure>
            <img src="/assets/img/ateliers/cahier-exemple.png" width="238" height="336" alt="exemple de cahier"/>
            <figcaption>Exemple d’un livre réalisé dans un atelier Chattycat</figcaption>
        </figure>
    </div>
</section>


<footer>
    <p>Pour réserver un atelier ou pour toute demande de renseignements</p>
    <a href="mailto:atelier@chattycat.fr">atelier@chattycat.fr</a>
</footer>
