---
tags: auteurs_list
title: Auteurs
permalink: "authors.html"
---

<div class="container">
    <h1 id="authors_title">Les auteurs / illustrateurs</h1>

    <section id="authors">

        {%- for author in global.authors %}
            <a href="/authors/{{author.slug}}.html" class="disable_hover">
                {% remoteImage author.image, author.name, {widths: [240]}, '/assets/img/blank.jpg' %}
                <h3>{{ author.name }}</h3>
                <h4>{{ author.occupation }}</h4>
            </a>
        {%- endfor %}

    </section>
</div>
