---
tags: concept
title: Concept
permalink: "catalogue.html"
---

<div id="landing_catalogue" class="landing_container">
    <h1>Cléo Lefort publico vigore, discessit</h1>
    <p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat</p>
    <button>découvrir</button>
</div>

<section id="catalogue" class="books_container">

    <h3>NOTRE CATALOGUE</h3>
    {# TODO : populate with data from json #}
    <div id="selectors"> 
        <select name="age" id="age-select"></select>
        <select name="genre" id="genre-select"></select>
        <select name="author" id="author-select"></select>
        <select name="collection" id="collection-select"></select>
    </div>

    <div id="filter_results">
    </div>

</section>

<script src="/assets/js/catalogue.js"></script>