---
tags: catalogue
title: Catalogue
permalink: "catalogue.html"
---

<div id="landing_catalogue" class="landing_container">
    <h1>Cléo Lefort publico vigore, discessit</h1>
    <p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat</p>
    <button>découvrir</button>
</div>

<section id="catalogue">

    <h3>NOTRE CATALOGUE</h3>

    {# TODO : populate with data from json #}
    

    <div id="selectors_container"> 

        <p>Affiner ma sélection</p>

        <div id="selectors"> 

            <div class="selector_pair">
                <p>Âges</p>
                <select name="age" id="age-select"></select>
            </div>
            <div class="selector_pair">
                <p>Genres</p>
                <select name="genre" id="genre-select"></select>
            </div>
            <div class="selector_pair">
                <p>Auteurs / illustrateurs</p>
                <select name="author" id="author-select"></select>
            </div>
            <div class="selector_pair">
                <p>Séries</p>
                <select name="collection" id="collection-select"></select>
            </div>
        </div>
    </div>

    <h5>Ma sélection</h5>

    <div id="filter_results" class="books_container">
    </div>

</section>

<script src="/assets/js/catalogue.js"></script>