---
tags: concept
title: Concept
permalink: "concept.html"
active_page: concept
---

<section id="landing_concept" class="landing_container">
    <article>
        <h1>À propos de Chattycat</h1>
        <p>Fondées en 2016 par une Américaine enseignant l’anglais à Paris, les éditions CHATTYCAT publient des
            histoires, des bandes dessinées et des livres d’activités.</p>
    </article>
</section>

<div id="notre_concept">
    <img src="/assets/img/concept/Salon du livre Paris.png" alt="salon du livre paris chattycat">
    <div>
        <h3>Notre concept</h3>
        <h5>Le plaisir de lire avant tout !</h5>
        <p>Des histoires pleines d’aventures, des textes qui passent naturellement d’une langue à l’autre. L’enfant se
            plonge dans une histoire intéressante et apprend l’anglais presque sans s’en rendre compte ! Nos livres
            accompagnent le jeune à chaque étape de son enfance.</p>
        <h5>L’anglais, mais pas seulement</h5>
        <p>Nos romans proposent une découverte culturelle et historique du monde anglophone. Et chaque livre contient
            des petits bonus : jeux, activités, chronologies historiques, carnets de voyage… <br>
            Et bien sûr, une version audio accompagne chaque livre !</p>
    </div>
</div>


<div id="qui_sommes_nous">
    <h4>Qui sommes-nous ?</h4>
    <h5>Couple franco-américain résidant à Paris avec notre chat bavard, la création des éditions Chattycat a été pour
        nous comme une évidence !</h5>
    <div>
        <div>
            <img src="/assets/img/concept/photo1.png" alt="Keren">
            <h5>Keren</h5>
            <p>
                Américaine, Keren a toujours adoré lire.
                Devenue enseignante d’anglais dans des écoles à Paris, elle cherche à enseigner aux enfants une deuxième
                langue comme elle-même l’a apprise, à travers la lecture, mais ne trouve rien d’adapté.
                Elle décide donc de se lancer dans l’aventure et crée les éditions Chattycat.
            </p>
        </div>
        <div>
            <img src="/assets/img/concept/photo2.png" alt="Romaric">
            <h5>Romaric</h5>
            <p>
                Suite à des études de cinéma et de journalisme, Romaric a travaillé pendant plus de dix ans dans le
                monde de la télévision, d'abord comme journaliste (Canal+), puis en tant que rédacteur en chef (Canal+
                et France Ô).
                Il produit désormais les versions audio accompagnant chaque livre et se consacre au développement de
                l’offre multimédia de Chattycat.
            </p>
        </div>
        <div>
            <img src="/assets/img/concept/photo3.png" alt="Puff">
            <h5>Puff</h5>
            <p>Sans doute le membre le plus connu de l’équipe, Puff ou « Chattykitty », comme elle est surnommée sur les
                réseaux sociaux, a inspiré le logo ainsi que le nom de Chattycat, qui signifie «chat bavard» en anglais
                (et bien sûr, «cat» est également la traduction de «chat»). Et bavarde, Puff l’est certainement (surtout
                quand elle a faim !).</p>
        </div>
    </div>
</div>
