---
tags: contact
title: Contact
permalink: "contact.html"
---

<div class="container" id="contact_page">

    <h3>Les éditions Chattycat</h3>
    <p>17 rue Pascal, 75005 PARIS</p>


    <h3>Diffusion/ Distribution</h3>
    <p>
        France et Belgique: <a href="http://dilisco-diffusion.centprod.com/">Dilisco Diffusion/ Dilisco</a><br />
        Suisse : <a href="http://www.servidis.ch/">Servidis</a><br />
        Canada : <a href="http://www.adl.qc.ca/">Agence du Livre</a><br />
        Autre export : <a href="http://dilisco-diffusion.centprod.com/">Dilisco</a>
    </p>

    <h3>Réseaux école</h3>
    <p>
        <a href="https://lire-demain.fr/rechercher/?terme=chattycat&page_number=1">Lire Demain</a><br />
        <a href="https://lefestivaldulivre.com/recherche?orderby=position&orderway=desc&id_supplier_search=1&search_query=chattycat">Le Festival du Livre</a>
    </p>

    <h3>Relations libraires/ bibliothécaires</h3>
    <p><a href="https://comj.fr/">Agence ComJ</a></p>

    <h3>Par email</h3>
    <p>Pour toute demande éditoriale ou administrative : <a href="mailto:contact@chattycat.fr">contact@chattycat.fr</a></p>

    <p>Soumission de manuscrits et de portfolios : <a href="mailto:manuscrit@chattycat.fr">manuscrit@chattycat.fr</a></p>

    <p>Pour plus de renseignements sur nos ateliers : <a href="mailto:atelier@chattycat.fr">atelier@chattycat.fr</a></p>

    <p>Pour recevoir un service presse : <a href="mailto:presse@chattycat.fr">presse@chattycat.fr</a></p>

</div>

