---
tags: contact
title: Contact
permalink: "contact.html"
---

<div class="container" id="contact_page">

    <h3>Les éditions Chattycat</h3>
    <p>17 rue Pascal, 75005 PARIS</p>


    <h3>Diffusion/ Distribution</h3>
    <p>
        France et Belgique: Dilisco Diffusion/ Dilisco<br />
        Suisse : Servidis<br />
        Canada : Agence du Livre<br />
        Autre export : Dilisco
    </p>

    <h3>Réseaux école</h3>
    <p>
        Lire Demain<br />
        Le Festival du Livre
    </p>

    <h3>Relations libraires/bibliothécaires</h3>
    <p>Agence ComJ</p>

    <h3>Par email</h3>
    <p>Pour toute demande éditoriale ou administrative : <a href="mailto:contact@chattycat.fr">contact@chattycat.fr</a></p>

    <p>Soumission de manuscrits et de portfolios : <a href="mailto:manuscrit@chattycat.fr">manuscrit@chattycat.fr</a></p>

    <p>Pour plus de renseignements sur nos ateliers : <a href="mailto:atelier@chattycat.fr">atelier@chattycat.fr</a></p>

    <p>Pour recevoir un service presse : <a href="mailto:presse@chattycat.fr">presse@chattycat.fr</a></p>

</div>

