---
tags: mentions
title: Mentions légales
permalink: "mentions.html"
mainClass: mentions
---

<div class="container">

    <section>
        <h1>Mentions légales</h1>

        <h2>EDITEUR DU SERVICE</h2>
        <h3>Editions Chattycat</h3>
        <pre>
    SAS au capital de 7500 € – 815 264 569 RCS Paris
    © 2020 Tous droits réservés
    17 rue Pascal
    75005 Paris
    Tél. : 01 71 32 51 79
    Représentant légal et Directrice de la publication
    Keren Eisenzweig
    </pre>

        <h2>DÉVELOPPEMENT</h2>
        <h3>SAS 6TECH</h3>
        <pre>
    19 rue Courbet
    54000 Nancy
    Email: contact@6tech.net
    Site Internet : <a href="https://6tech.net" target="_blank">https://6tech.net</a>
    </pre>


        <h2>GRAPHISME</h2>
        <h3>Mog Design</h3>
        <pre>
    4 rue des Chanoines
    54000 NANCY
    Site Internet: <a href="http://www.mog-design.com" target="_blank">http://www.mog-design.com</a>
    </pre>

        <h2>HÉBERGEMENT</h2>
        <h3>Firebase Hosting</h3>
        <pre>
    188 King ST,
    San Francisco CA 94107
    </pre>
    </section>

    <section>
        <h2>Conditions générales d’utilisation du site et des services proposés.</h2>

        <p>
            Tout visuel, couverture de livre, texte et autre élément sur ce site est protégé et l’utilisateur ne peut en
            aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments du Site.
        </p>
        <p>
            L’utilisation du site <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> implique l’acceptation pleine et entière des conditions
            générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées
            ou
            complétées à tout moment, les utilisateurs du site <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> sont donc invités à les consulter
            de manière
            régulière.
        </p>
        <p>
            Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
            maintenance technique peut être toutefois décidée par <a href="https://www.chattycat.fr">https://www.chattycat.fr</a>, qui s’efforcera alors de
            communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site web
            <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> est mis à jour régulièrement.
        </p>
    </section>

    <section>
        <h2> Description des services fournis.</h2>
        <p>La société Chattycat est une maison d’édition et son site internet <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> a pour objet de
            présenter les titres de son catalogue. Toutefois, il ne pourra être tenu responsable des oublis, des
            inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers
            partenaires qui lui fournissent ces informations.</p>
        <p>Toutes les informations indiquées sur le site <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> sont données à titre indicatif, et sont
            susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> ne
            sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en
            ligne.</p>
    </section>

    <section>
        <h2>Propriété intellectuelle et contrefaçons.</h2>
        <p>
            Chattycat est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les
            éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes
            et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
            éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite
            préalable des éditions Chattycat.
        </p>
        <p>
            Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée
            comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et
            suivants du Code de Propriété Intellectuelle.
        </p>
        <p>
            Chattycat ne pourra être tenu responsable des dommages directs et indirects causés au matériel de
            l’utilisateur, lors de l’accès au site internet <a href="https://www.chattycat.fr">https://www.chattycat.fr</a>, et résultant soit de l’utilisation
            d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou
            d’une incompatibilité.
        </p>
    </section>

    <section>
        <h2>Gestion des données personnelles.</h2>
        <p> L’utilisateur est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014
            pour
            la confiance dans l'Économie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du
            Règlement
            Général sur la Protection des Données (RGPD : n° 2016-679).
        </p>
    </section>


    <section>
        <h2>Informations sur les données collectées</h2>
        <p>Chattycat ne collecte pas vos données personnelles à des fins commerciales.
            Vous pouvez cependant choisir d’inscrire votre adresse mail sur le formulaire prévu à cet effet pour
            recevoir des Newsletters de Chattycat.</p>
    </section>

    <section>
        <h2>Droit d’accès, de rectification et d’opposition</h2>
        <p>Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> disposent
            des droits suivants :</p>
        <ul>
            <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des
                données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère
                personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont
                la
                collecte, l'utilisation, la communication ou la conservation est interdite
            </li>
            <li>droit de retirer à tout moment un consentement (article 13-2c RGPD)</li>
            <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)</li>
            <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)</li>
            <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font
                l’objet de
                traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
            </li>
            <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui
                <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement
                désigné
            </li>
        </ul>

        <p>
            Si l’Utilisateur souhaite savoir comment <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> utilise ses Données Personnelles, demander
            à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> par
            écrit à l’adresse suivante :
        </p>
        <address>
            CHATTYCAT
            17 rue Pascal 75005 Paris.
        </address>

        <p>
            Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que
            <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une
            pièce d’identité (carte d’identité ou passeport).
        </p>
        <p>
            Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à
            <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> par la loi, notamment en matière de conservation ou d’archivage des documents.
            Enfin, les Utilisateurs de <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> peuvent déposer une réclamation auprès des autorités de
            contrôle, et notamment de la CNIL (<a href="https://www.cnil.fr/fr/plaintes" target="_blank">https://www.cnil.fr/fr/plaintes</a>).
        </p>
    </section>

    <section>
        <h2>Droit applicable et attribution de juridiction.</h2>
        <p>
            Tout litige en relation avec l’utilisation du site <a href="https://www.chattycat.fr">https://www.chattycat.fr</a> est soumis au droit français. En
            dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux
            compétents de Paris
        </p>
    </section>


</div>
