---
tags: series_list
title: Séries
permalink: "series.html"
---

<div class="container">
    <section id="landing_series" class="landing_container">
        <h1>Découvrez les héros et héroïnes Chattycat !</h1>
        <p>De Cléo Lefort à Edwin Lancaster, vous saurez bientôt tout sur vos personnages préférés !</p>
    </section>

    <h3 id="series_title">LES SéRIES</h3>

    <section id="series">

        {%- for serie in global.series %}
        <a href="/series/{{serie.slug}}.html">
            {% remoteImage serie.image, serie.name, {widths: [312]} %}
            <!--<img src="{{serie.image}}" alt="No Image"/>-->
            <p>{{ serie.name }}</p>
        </a>
        {%- endfor %}

    </section>
</div>

{% include "nouveautes.njk" %}


