<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title | default('Chattycat') }} </title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    
</head>
<body>

<!-- header -->
<header class="container">
    
    <a href="/"><img src="/assets/img/logo.png" alt="logo" width="362" height="120"/></a>
    <nav>
        <a href="/"><img src="/assets/img/header/3-6.png" alt="3-6 ans" width="118" height="150"></a>
        <a href="/"><img src="/assets/img/header/6-8.png" alt="6-8 ans" width="118" height="150"></a>
        <a href="/"><img src="/assets/img/header/8-10.png" alt="8-10 ans" width="130" height="153"></a>
        <a href="/"><img src="/assets/img/header/10-plus.png" alt="10+ ans" width="123" height="153"></a>
    </nav>
    
</header>


<!-- navigation -->
<nav class="container">
    <a href="{{ collections.concept[0].data.page.url }}">concept</a>
    <a href="/">catalogue</a>
    <a href="/">ateliers</a>
    <label>
        <img src="/assets/img/header/search.png" alt="search" width="28" height="28"/>
        <input type="search" id="search_text" placeholder="titre/auteur/mot clé/genres/thèmes..."/>
    </label>
    <button id="search_button">rechercher</button>
    <div id="searched_books_container"></div>
</nav>

<!-- main content -->
<main>
    {{ content | safe }}
</main>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
</body>

<script src="/assets/js/index.js"></script>

</html>
