<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title | default('Chattycat') }} </title>

    <link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>

<!-- header -->
<header class="container">

    <a href="/"><img src="/assets/img/logo.png" alt="logo" width="362" height="120"/></a>
    <nav>
        <a href="/ages/3-6.html"><img src="/assets/img/header/3-6.png" alt="3-6 ans" width="118" height="150"></a>
        <a href="/ages/6-8.html"><img src="/assets/img/header/6-8.png" alt="6-8 ans" width="118" height="150"></a>
        <a href="/ages/8-10.html"><img src="/assets/img/header/8-10.png" alt="8-10 ans" width="130" height="153"></a>
        <a href="/ages/10-plus.html"><img src="/assets/img/header/10-plus.png" alt="10+ ans" width="123" height="153"></a>
    </nav>

</header>


<!-- navigation -->
<nav class="container">
    <a href="{{ collections.concept[0].data.page.url }}">concept</a>
    <a href="/catalogue.html">catalogue</a>
    <a href="/">ateliers</a>
    <label>
        <img src="/assets/img/header/search.png" alt="search" width="28" height="28"/>
        <input type="search" id="search_text" placeholder="titre/auteur/mot clé/genres/thèmes..."/>
    </label>
    <button id="search_button">rechercher</button>
    <div id="searched_books_container"></div>
</nav>

<!-- main content -->
<main>
    {{ content | safe }}

    <footer>
        <div id="footer1">
            <div>
                <ol>
                    <li><a>les séries</a></li>
                    <li><a>les auteurs</a></li>
                    <li><a>envoyez votre manuscrit</a></li>
                    <li><a>revue de presse</a></li>
                    <li><a>nous contacter</a></li>
                </ol>
            </div>
            <div id="follow_box">
                <img src="/assets/img/home/CHATTYCAT-logo-chat-blanc.png" alt="chattycat logo">
                <div>
                    <p>Suivez-nous</p>
                    <div id="follow_buttons">
                        <a href="https://www.facebook.com/chattycatbooks/" target="_blank"></a>
                        <a href="https://www.instagram.com/editionschattycat/" target="_blank"></a>
                        <a href="https://twitter.com/chattycatbooks" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div id="newsletter_box">
                <p>Inscrivez-vous à la newsletter !</p>
                <div>
                    <input type="search" id="email" placeholder="email"/>
                    <button id="newsletter">envoyer</button>
                </div>
            </div>
        </div>
        <div id="footer2">
            <p>CHATTYCAT © 2020</p>
            <a href="">MENTIONS LÉGALES</a>
        </div>
    </footer>

</main>



</body>

<script src="/assets/js/index.js"></script>

</html>
