---
title: Chattycat
---
<!doctype html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <meta name="viewport"
       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{{ title }} Chattycat </title>
</head>
<body>

<nav>
 <a href="/">Accueil</a>
 <a href="{{ collections.concept[0].data.page.url }}">Concept</a>
 <a href="">Catalogue</a>
 <a href="/">Série</a>
 <a href="/">Auteurs</a>
 <a href="/">Ateliers</a>
 <a href="{{ collections.contact[0].data.page.url }}">Contact</a>
</nav>

{{ content | safe }}

</body>
</html>
