<section id="new_books" class="books_container">

    <h3>NOUVEAUTÉS</h3>

    <ol class="container">
        {%- for book in global.newBooks %}
        <li><a href = "books/{{ book.slug }}.html">
            <div>
                {% remoteImage book.image, book.title, {widths: [150]} %}
            </div>
            <p class="book_title">{{ book.title }}</p>
        </a></li>
        {%- endfor %}
    </ol>

</section>

<div id="heros">
    <h1>Découvrez les héros et héroïnes Chattycat !</h1>
    <a class="button" href="{{ collections.catalogue[0].data.page.url }}">découvrir</a>
</div>
